# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=fin_docs
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-password-here

# Snowflake
SNOWFLAKE_ACCOUNT=your-account-id
SNOWFLAKE_USER=your-username
SNOWFLAKE_PASSWORD=your-password
SNOWFLAKE_DATABASE=FIN_DOCS
SNOWFLAKE_WAREHOUSE=FIN_DOCS_DEV_WH
SNOWFLAKE_ROLE=FIN_DOCS_DEVELOPER

# dbt service account
DBT_USER=DBT_USER
DBT_PASSWORD=your-dbt-password
DBT_ROLE=FIN_DOCS_TRANSFORMER
DBT_WAREHOUSE=FIN_DOCS_TRANSFORM_WH

# Airflow Snowflake
AIRFLOW_SF_USER=AIRFLOW_USER
AIRFLOW_SF_PASSWORD=your-airflow-password
AIRFLOW_SF_ROLE=FIN_DOCS_LOADER
AIRFLOW_SF_WAREHOUSE=FIN_DOCS_LOADING_WH

# Confluent Kafka
CONFLUENT_BOOTSTRAP=pkc-xxxxx.us-east-1.aws.confluent.cloud:9092
CONFLUENT_API_KEY=your-key
CONFLUENT_API_SECRET=your-secret

# Anthropic
ANTHROPIC_API_KEY=sk-ant-your-key-here

# Hugging Face
HF_TOKEN=hf_your-token-here
